.alinhar{
text-align: center;
}
body{
background-color: rgb(66, 66, 255);
color: rgb(236, 248, 236);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 252, 252);
    text-decoration: none; 
    margin: 0 10px; 
  }
  